<div class="todoapp-list">
  <input class="new-todo" type="text" placeholder="Enter todo here" value>
  <ul class="todo-list">
    <li *ngFor="let todo of todos">
      <div class="view">
        <input class="toggle" type="checkbox">
        <label>{{todo.name}}</label>
        <button class="destroy"></button>
      </div>
    </li>
    <!-- <li class="completed">
      <div class="view">
        <input class="toggle" type="checkbox" checked>
        <label>task2</label>
        <button class="destroy"></button>
      </div>
    </li> -->
  </ul>
  <div class="button-bar">
    <span class="todo-count">
      <strong>2</strong> items left
    </span>
    <ul class="filters">
      <li>
        <a class="selected">All</a>
      </li>
      <li>
        <a>Active</a>
      </li>
      <li>
        <a>Completed</a>
      </li>
    </ul>
    <button class="clear-completed">
      Clear completed
    </button>
  </div>
</div>
